#fcLeftBar
{
  float:left;
  width: 205px;
  height: 100%;

  border-right: 1px solid;
  border-color: #E6E6E6;
}
#fcLeftBar .buttons{
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}
#fcLeftBar .buttons li{
  margin-right: 0;
  margin-left: 0;
}
#fcLeftBar .buttons a{
  margin-bottom: 0;
  padding-left: 9px;
  padding-right: 9px;
  margin-left: 0;
  margin-right: 0;
}

#fcLeftBar .subitem{
  margin-bottom: 10px;
}

#membersList{
  overflow: scroll;
  height: calc(100% - 95px);
  overflow-x:hidden;
}

.fcContainer{
  width: 100%;
  height: 110%;
  margin-top: 45px;
  padding: 0;
}

#pageTitle{
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 250px;
}

.characterInfo{
  width: 250px;
  height: 170px;
  font-size: 13px;
}
.charItem{
  padding:5px !important;
}

#fcMiddle{
  float:left;
  margin: 0;
  height: 100%;
  width: calc(100%-200px);
}
